@use "_colors" as *;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $cream;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "DM Sans", sans-serif;
}

main {
  width: 40%;
  header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: $softRed;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 20px 30px;
    .balance {
      .title {
        font-size: 20px;
        margin-bottom: 8px;
      }
      .amount {
        font-size: 36px;
        font-weight: 700;
      }
    }
    p {
      margin: 0;
    }
    .logo {
      display: flex;
      align-items: center;
    }
  }
  .container {
    padding: 20px 30px;
    background-color: $veryPaleOrange;
    border-radius: 15px;
    .title {
      .spending {
        margin: 0;
        font-size: 36px;
        font-weight: 700;
      }
    }
    .underline {
      height: 1px;
      background-color: $cream;
      margin: 30px 0;
    }
    .chart {
      margin: 20px 0;
    }
    .total {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-bottom: 20px;
      .sum {
        display: flex;
        flex-direction: column;
        p {
          margin: 0;
        }
        .title {
          font-size: 20px;
          color: $mediumBrown;
        }
        .amount {
          font-size: 52px;
          font-weight: 700;
        }
      }
      .percentage {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        p {
          margin: 0;
        }
        .amount {
          text-align: end;
          font-size: 20px;
          font-weight: 700;
        }
        .text {
          font-size: 20px;
          color: $mediumBrown;
          text-align: end;
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 576px) {
  body {
    main {
      width: 95%;
      header {
        .balance {
          .title {
            font-size: 15px;
          }
          .amount {
            font-size: 30px;
          }
        }
      }
      .container {
        padding: 10px 20px;
        .title {
          .spending {
            font-size: 25px;
          }
        }
        .total {
          .sum {
            .title {
              font-size: 15px;
            }
            .amount {
              font-size: 35px;
            }
          }
          .percentage {
            .amount {
              font-size: 15px;
            }
            .text {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    main {
      width: 70%;
      .container {
        .title {
          .spending {
            font-size: 30px;
          }
        }
        .total {
          .sum {
            .amount {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  body {
    main {
      width: 50%;
    }
  }
}
